body{
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;

}
.container{
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.103);
}
.container p, h1,h2,h3,h4,h5,h6{
  color: rgb(6, 61, 124);
}

.day{
    background-color: rgba(0, 13, 128, 0.212);
}
.searchBar{
  margin-top: 20px;
}
select{
  margin-top: 5px;
  background-color: rgba(0, 13, 128, 0.041);
  border: 1px solid rgba(255, 255, 255, 0.247);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.774);
}
#cars *{
  background-color: rgba(0, 13, 128, 0.486);
  border-radius: 5px;
  
}
#citySubmit{
  font-size: small;
  margin-top: 15px;
  background-color: rgba(0, 13, 128, 0.041);
  color: rgba(255, 255, 255, 0.774);
  border: 1px solid rgba(255, 255, 255, 0.247);
  border-radius: 5px;
}
#temprature{
  color: rgb(6, 141, 112);
  font-size: 60px;
}
#city{
  color: rgb(6, 141, 112);
  font-size: 30px;
}
#day1{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 2%;
}
#day2{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 1%;
}
#day3{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 1%;
}
#day4{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 1%;
}
#day5{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 1%;
}
#day6{
  border-radius: 5%;
  width: 15.5%;
  margin-left: 1%;
}
